Emacs.font: Inconsolata 13

XTerm*faceName: Inconsolata
XTerm*faceSize: 13

UXTerm*faceName: Inconsolata
UXTerm*faceSize: 13

! URxvt config examples e.g. at https://www.askapache.com/linux/rxvt-xresources/

URxvt.font: xft:Inconsolata:autohint=true:antialias=true,\
            xft:DejaVu Sans Mono:autohint=true:antialias=true:pixelsize=8
URxvt.boldFont: xft:Inconsolata:bold:autohint=true:antialias=true,\
                xft:DejaVu Sans Mono:bold:autohint=true:antialias=true
URxvt.italicFont:  xft:Inconsolata:italic:autohint=true:antialias=true,\
                   xft:DejaVu Sans Mono:italic:autohint=true:antialias=true
URxvt.boldItalicFont:  xft:Inconsolata:bold:italic:autohint=true:antialias=true,\
                       xft:DejaVu Sans Mono:bold:italic:autohint=true:antialias=true

URxvt*geometry:  132x48

! If using tmux/screen, disable scrolling
URxvt*scrollWithBuffer:  false
URxvt*scrollBar:  false
URxvt*saveLines:  0

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
